
h2{
    text-align: center;
}

.tabla-consulta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
}

.tabla{
    max-height: 500px;
    overflow-y: scroll;
    padding: 15px;
}

.consulta-table {
    width: 100%;
    border-collapse: collapse;
}

.consulta-table tr{}

.consulta-table th,
.consulta-table td {
    padding: 8px;
    border: 1px solid #c6c6c6;
    text-align: left;
}

.consulta-table th {
    font-weight: bold;
}

.consulta-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.consulta-table tbody tr:hover {
    background-color: #ddd;
}

.consulta-table tbody td:nth-child(3){
    display: flex;
    justify-content: center;
}


.consulta{
    display: flex;
    flex-direction: column;
    border: #c6c6c6 1px solid ;
    border-radius: 10px;
    max-height: 600px;
    width: 350px;
}



.nombre{
    border-bottom: #c6c6c6 1px solid ;
    padding: 5px;
}

.usuario{
    border-bottom: #c6c6c6 1px solid ;
    padding: 5px
}

.asunto{
    border-bottom: #c6c6c6 1px solid ;
    padding: 5px
}

.p2{
    font-family: "Kanit Light";
}

@media screen and (max-width: 800px) {
    .tabla-consulta{
        display: grid;
        justify-content: center;
        gap:30px
    }

    .consulta{
        margin: 20px;
        justify-self: center;
    }
}

