body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.button{
    width: 157px;
    height: 50px;
}

.button-menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.button-color{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-humedad{
    width: 55px;
    height: 18px;
    border-radius: 10px;
    background-color: #25A6FF;
}
.color-temperatura{
    width: 55px;
    height: 18px;
    border-radius: 10px;
    background-color: #E54D4D;
}
.color-luminosidad{
    width: 55px;
    height: 18px;
    border-radius: 10px;
    background-color: #FFCB40
}
.color-salinidad{
    width: 55px;
    height: 18px;
    border-radius: 10px;
    background-color: #847E7E
}
.color-pH{
    width: 55px;
    height: 18px;
    border-radius: 10px;
    background-color: #0B8C00
}

.dropdown, .button {
    margin: 10px;
}

.grafica-edit{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    margin: 15px;
    border: 2px solid blue ;
}
.chart-container {
    height: 500px;
    width: 750px;
    border: 1px solid black; /* Borde opcional para el contenedor */
    display: flex; /* Usar display flex para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

h3{
    text-align: center;
}

.editar{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 1px solid rebeccapurple;
}

.limites {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid rebeccapurple;

}
.limite {
    padding-left: 10px;
    padding-right: 10px;
}

.limite input{
    width: 50px;
    height: 24px;
}
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aplicar{
    width: 280px;
}

p{
    font-family: "Kanit Light";
    color: red;
    text-align: center;
}
