/* Contenedor principal de exportación */
.export-container {
    margin-left: 50px;
    margin-right: 50px;
}

/* Contenedor para selección de fecha y sensor */
.selection-container {
    display: flex;
    justify-content: space-between;
}

/* Ajuste del ancho del campo de nombre de usuario */
#nombreUsuario {
    width: 240px;
}

/* Estilo para el párrafo con id negro */
#negro {
    color: #333333;
    margin-top: -20px;
}

/* Contenedor para las entradas de fecha */
.date-inputs {
    display: flex;
    align-items: center;
    margin-top: -30px;
}

/* Estilo para el selector de sensor */
#sensor {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -17px;
    width: 100%;
    height: 42px;
}

/* Contenedor del buscador */
.contenedor-buscador {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Estilos para los campos de entrada de texto */
input[type="text"], textarea {
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    width: 100%;
    height: 20px;
}

/* Estilos para los campos de entrada de texto y el elemento select */
.input-field, select {
    font-family: 'Kanit Light', sans-serif;
    font-size: 20px;
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    width: 100%;
    height: 42px;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
}

/* Estilo para el botón */
.button {
    padding: 0px 10px 0 10px;
    margin-left: 10px;
    margin-top: 15px;
}

/* Estilo para los encabezados h3 */
h3 {
    white-space: nowrap;
}

/* Estilo general para las tablas */
.my-table {
    text-align: left;
    font-family: "Kanit Light", sans-serif;
    font-size: 16px;
    color: #333333;
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Estilo para los encabezados de las tablas */
.my-table th {
    background-color: #479555;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

/* Estilo para las celdas de las tablas */
.my-table td {
    padding: 10px 15px;
    color: #495057;
    border-bottom: 1px solid #dee2e6;
}

/* Estilo para las filas de las tablas al pasar el ratón por encima */
.my-table tr:hover {
    background-color: #e9ecef;
}

/* Estilo para los encabezados h3 */
h3 {
    width: 20%;
}

/* Estilos responsivos */
@media (max-width: 900px) {
    .selection-container {
        display: flex;
        flex-direction: column;
    }
    .export-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .input-field, select {
        width: 100%;
    }
    .button {
        margin-top: 10px;
        width: 100%;
    }
    h3 {
        width: 100%;
        font-size: 18px;
        white-space: normal;
    }
}
