.gestion-cuenta{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.global{
    display: grid;
    justify-content: center;
}

h2{
    text-align: center;
}

h4{
    color: #7ED957;
}

.correoYcontraseña{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

#eliminar-cuenta {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedores {
    display: flex;

    justify-content: space-around;
    width: 80%;
    gap: 15px;
}

#eliminarCuenta1, #eliminarCuenta2 {

    width: 40%; /* Ajusta este valor según tus necesidades */
}

#motivoContra{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eliminarCuenta3 {

    width: 72.5%; /* Ocupa todo el ancho del contenedor padre */
}

#botonEliminar{
    width: 642px;
    height: 41px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#hola{
    font-family: "Kanit Light", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 492px;
    height: 32px;
    margin-bottom: 10px;
}

