/* Importa la fuente 'Kanit' de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

/* Estilo general del cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-color: #FFFFFF;
}

/* Contenedor principal de la sección de login */
.login-container {
    text-align: center;
    margin: 0 auto;
}

/* Estilo para el encabezado principal */
h1 {
    font-size: 48px;
    font-weight: 500;
    color: #545454;
}

h1 span {
    color: #76BD57; /* Color especial para el span dentro del h1 */
}

/* Estilo para el encabezado secundario */
h2 {
    font-size: 28px;
    font-weight: 400;
    color: #479555;
}

/* Estilo para el encabezado de menor jerarquía */
h4 {
    font-size: 14px;
    font-weight: 400;
    color: #479555;
}

/* Estilo para los campos de entrada */
.input-field {
    font-size: 20px;
    font-weight: 300;
    display: block;
    width: 100%;
    box-sizing: border-box;  /* Incluye el padding y el borde en las dimensiones totales */
    border: none;
    margin: 30px 0;  /* Espacio entre los campos de entrada */
    padding: 10px;
}

/* Quita el contorno al enfocar el campo de entrada */
.input-field:focus {
    outline: none;
}

/* Estilo para los textos de marcador de posición */
::placeholder {
    color: #c6c6c6; /* Color del marcador de posición */
}

/* Estilo para el mensaje de error */
#mensaje-error {
    font-size: 15px;
    font-weight: 400;
    color: #EA3B50;
}

/* Estilo para los botones principales */
.button {
    width: 426px;
    height: 44px;
    font-size: 20px;
    font-weight: 300;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #7ED957;
    color: white;
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    cursor: pointer;
}

/* Estilo para el separador */
.separator {
    width: 100%;
    border-top: 1px solid #c6c6c6;
    text-align: center;
    margin-top: 0;
    margin-bottom: -22px;
}

/* Estilo para el texto dentro del separador */
.separator-text {
    color: rgba(51, 51, 51, 0.68); /* Color con opacidad */
}

/* Estilo especial para el span dentro del separador */
.separator span {
    background-color: #FFFFFF;
    padding: 0 10px;
    position: relative;
    top: -12px;
}

/* Estilo para el segundo botón */
.button2 {
    width: 165px;
    height: 44px;
    font-size: 20px;
    font-weight: 300;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #7ED957;
    color: white;
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    cursor: pointer;
    float: right;
}

/* Estilos responsivos para pantallas con ancho máximo de 460px */
@media (max-width: 460px) {
    .button {
        width: 340px;
        height: 44px;
        font-size: 20px;
        font-weight: 300;
        display: block;
        border: none;
        border-radius: 10px;
        background-color: #7ED957;
        color: white;
        padding: 10px;
        margin-top: 22px;
        margin-bottom: 22px;
        cursor: pointer;
    }
}

/* Estilos responsivos para pantallas con ancho máximo de 390px */
@media (max-width: 390px) {
    .button {
        width: 290px;
        height: 44px;
        font-size: 20px;
        font-weight: 300;
        display: block;
        border: none;
        border-radius: 10px;
        background-color: #7ED957;
        color: white;
        padding: 10px;
        margin-top: 22px;
        margin-bottom: 22px;
        cursor: pointer;
    }
}

/* Estilos responsivos para pantallas con ancho máximo de 340px */
@media (max-width: 340px) {
    .button {
        width: 230px;
        height: 44px;
        font-size: 20px;
        font-weight: 300;
        display: block;
        border: none;
        border-radius: 10px;
        background-color: #7ED957;
        color: white;
        padding: 10px;
        margin-top: 22px;
        margin-bottom: 22px;
        cursor: pointer;
    }
}

/* Estilo adicional para centrar el contenido del cuerpo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo para los botones en general */
button {
    color: #5CBA23;
    background-color: #FFFFFF;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

/* Estilo para los encabezados secundarios */
h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #479555;
    text-align: center;
}

/* Estilo para los párrafos */
p {
    text-align: center;
}

/* Estilo para los popups */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Estilo para el contenido del popup */
.popup-contenido {
    position: absolute;
    font-family: 'Kanit', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
}

/* Estilo para el botón de cierre del popup */
.cerrar {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

/* Estilo para los campos de entrada de texto */
input[type="text"] {
    font-family: 'Kanit Light', sans-serif;
    font-size: 20px;
    color: #333333;
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #c6c6c6;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Contenedor para alinear botones a la derecha */
.button-container {
    text-align: right;
}

/* Estilo para los botones en general */
.button {
    background-color: #7ED957;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

/* Estilo para el botón "Olvidar Contraseña" */
#OlvidarContrasenya {
    background-color: white;
    color: #7ED957;
    font-size: 12px;
    padding: 3px;
    margin: 0;
    width: 200px;
    height: 20px;
}

/* Estilo para el botón "Inicio Invitado" */
#Inicio_Invitado {
    background-color: white;
    color: #7ED957;
    font-size: 12px;
    padding: 3px;
    margin: 0;
    width: 200px;
    height: 20px;
}

/* Estilo para el botón de registrarse */
#botonregistrarse {
    height: 44px;
    width: 426px;
    padding: 0;
    display: flex;
}

/* Estilo para el botón de volver */
#botonvolver {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el botón de iniciar sesión */
#botoniniciarsesion {
    display: flex;
}

/* Contenedor para dividir botones */
.DivisorDeBotones {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
