/* Estilo global del cuerpo */
body{
    background-color: white;
}

/* Inicio de sección de Engancho */

/* Estilo para la sección principal */
section{
    height: 100vh;
    padding: 0.1rem;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(143,228,102,0.2);
    display: flex;
    align-items: center;
}

/* Estilo para el contenedor del Slogan */
.Slogan{
    padding: 4rem;
    display: grid;
}

/* Estilo para el título del producto */
#titulodeproducto{
    color: rgb(118,189,87);
}

/* Estilo para el primer encabezado dentro del Slogan */
.Slogan h1{
    font-size: 28px;
    font-family: 'Kanit' regular;
    color: rgb(84,84,84);
    text-align: center;
}

/* Estilo para el segundo encabezado dentro del Slogan */
.Slogan h2{
    font-size: 18px;
    font-family: 'Kanit' Medium;
    color:rgb(84,84,84);
    text-align: center;
}

/* Estilo para el tercer encabezado dentro del Slogan */
.Slogan h3{
    font-size: 14px;
    font-family: 'Kanit' Light;
    color:rgb(84,84,84);
    text-align: justify;
}

/* Estilo para el contenedor de botones */
.button{
    background-color: rgb(143,228,102,0);
    gap: 2.5rem;
}

/* Estilo para el botón de registro */
.boton_registro{
    background-color: #35A145; /* Ajusta el código de color para que coincida con el verde exacto */
    border: none;
    color: white;
    padding: 3%; /* Ajusta el relleno para el tamaño deseado */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    cursor: pointer;
    border-radius: 30px; /* Esto da las esquinas redondeadas tipo píldora */
    z-index: 0;
}

/* Estilo para el botón de saber más */
.boton_Sabermas{
    background-color: #FFFFFF; /* Ajusta el código de color para que coincida con el verde exacto */
    border: none;
    color: #35A145;
    padding: 3%; /* Ajusta el relleno para el tamaño deseado */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    cursor: pointer;
    border-radius: 30px; /* Esto da las esquinas redondeadas tipo píldora */
    z-index: 0;
}

/* Estilo global para las imágenes */
img{
    width: 60%;
    height: 60%;
}

/* Estilos responsivos para pantallas con ancho máximo de 900px */
@media (max-width: 900px){
    .boton_Sabermas{
        font-size: 14px;
    }
    .boton_registro{
        font-size: 14px;
    }
}

/* Estilos responsivos para la sección de Engancho */
@media (max-width: 920px){
    section{
        display: grid;
        height: 100%;
        width: 100%;
    }
    section img{
        width: 80%;
        height: 80%;
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
    p{
        text-align: center;
    }
    #botones{
        display: flex;
    }
    .boton_registro{}
    .boton_Sabermas{}
}

/* Estilos adicionales responsivos para pantallas con ancho máximo de 600px */
@media (max-width: 600px){
    .boton_registro{
        margin-left: 5%;
    }
}

@media (max-width: 420px){
    .button {
        gap: 1rem;
    }
    .boton_Sabermas{
        font-size: 10px;
    }
    .boton_registro{
        font-size: 10px;
    }
}

/* Fin de sección de Engancho */

/* Inicio de sección de Anuncio */

/* Estilo para el contenedor principal */
.Contenedor{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #5CBA23;
    display: flex;
    gap: 5rem;
    align-items: center;
}

/* Estilo para el contenedor del texto del título */
.tituloTexto{
    padding: 4rem;
    font-family: 'Kanit';
}

/* Estilo para el segundo encabezado dentro del título */
.tituloTexto h2{
    font-size: 32px;
    font-family: 'Kanit' regular;
    color: white;
}

/* Estilo para el párrafo dentro del título */
.tituloTexto p{
    background-color: white;
    color: green;
    font-size: 16px;
    border-radius: 20px;
    padding: 15px;
}

/* Estilo para las imágenes dentro del contenedor */
.Contenedor img{
    height: 50vh;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: 30px;
}

/* Estilos responsivos para pantallas con ancho máximo de 940px */
@media (max-width: 940px){
    .Contenedor{
        gap: 0;
    }
}

/* Estilos responsivos para pantallas con ancho máximo de 1460px */
@media (max-width: 1460px){
    .Contenedor img{
        height: 50vh;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 50px;
        margin: 30px;
    }
}

/* Estilos responsivos para pantallas con ancho máximo de 820px */
@media (max-width: 920px){
    .Contenedor{
        display: grid;
        place-items: center;
        gap: 0;
    }
    .Contenedor h2{
        text-align: center;
    }
    .tituloTexto{
        padding: 30px;
    }
    .Contenedor img{
        width: 300px;
        height: 300px;
    }

}

/* Final de sección de Anuncio */

/* Estilo para el rectángulo */
.rectangle{
    background-color: #5CBA23;
    height: 0.5vh;
    width: auto;
}

/* Estilo para el contenedor que engloba */
.engloba{
    width: fit-content;
}

/* Inicio de sección de Atractivo */

/* Estilo para el contenedor de la sección Atractivo */
.Atractivo{
    display: flex;
    gap:5rem;
    padding: 3rem;
}

/* Estilo para los encabezados dentro de Atractivo */
.Atractivo h1{
    font-size: 20px;
    font-family: 'Kanit' Light;
    margin-bottom: 0;
}

/* Estilo para los párrafos dentro de Atractivo */
.Atractivo p{
    text-align: justify;
    font-family: 'Kanit' Light;
}

/* Estilo para las imágenes dentro de Atractivo */
.Atractivo img{
    width: 100%;
    height: 35%;
}

/* Estilo para las imágenes dentro del contenedor Razones */
.Razones img{
    width: 100%;
    height: 35%;
}

/* Estilo para el contenedor TextoDescriptivo */
.TextoDescriptivo{
    display: grid;
}

/* Estilo para las imágenes dentro de TextoDescriptivo */
.TextoDescriptivo img{
    width: 100%;
    height: 100%;
}

/* Estilos responsivos para pantallas con ancho máximo de 1100px */

/* Estilos responsivos para pantallas con ancho máximo de 1020px */
@media (max-width: 1020px){
    .Razones img{
        width: 95%;
        height: 30%;
    }
}

/* Estilos responsivos para pantallas con ancho máximo de 960px */
@media (max-width: 960px){
    .Razones img{
        width: 100%;
        height: 35%;
    }
}

/* Estilos responsivos para pantallas con ancho máximo de 850px */
@media (max-width: 920px){
    .Atractivo{
        display: grid;
        place-items: center;
        gap: 0;
    }
    .Atractivo img{
        width: 90%;
        height: 90%;
        padding: 2rem;
    }
    .Atractivo h1{
        text-align: center;
    }
    .TextoDescriptivo img{
        width: 80%;
        height: 80%;
    }
}
