/* Importa la fuente 'Kanit' de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

/* Estilos generales para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-color: #FFFFFF;
}

/* Contenedor principal de la sección de registro */
.register-container {
    text-align: center;
    background-size: cover;
}

/* Estilo para el encabezado principal */
h1 {
    font-size: 48px;
    font-weight: 500;
    color: #545454;
    text-align: center;
}

h1 span {
    color: #76BD57; /* Color especial para el span dentro del h1 */
}

/* Estilo para el encabezado secundario */
h2 {
    font-size: 28px;
    font-weight: 400;
    color: #479555;
    margin-top: 20px;
}

/* Estilo para el encabezado de menor jerarquía */
h4 {
    font-size: 18px;
    font-weight: 400;
    color: #479555;
}

/* Estilo para los campos de entrada */
.input-field {
    font-family: 'Kanit Light', serif;
    font-size: 20px;
    font-weight: 300;
    display: block;
    width: 426px;
    box-sizing: border-box;  /* Incluye el padding y el borde en las dimensiones totales */
    border: none;
    border-bottom: 2px solid #C6C6C6;
    margin: 30px 0;  /* Espacio entre los campos de entrada */
    padding: 10px;
}

/* Quita el contorno al enfocar el campo de entrada */
.input-field:focus {
    outline: none;
}

/* Estilo para los textos de marcador de posición */
::placeholder {
    color: #c6c6c6; /* Color del marcador de posición */
}

/* Estilo para el mensaje de error */
#mensaje-error {
    font-size: 15px;
    font-weight: 400;
    color: #EA3B50;
}

/* Estilo para la sección de aceptación de términos */
.aceptar_terminos {
    display: flex;
    gap: 20px;
}

.aceptar_terminos label, .aceptar_terminos a {
    color: #479555;
    text-decoration: none;
}

.aceptar_terminos label:hover, .aceptar_terminos a:hover {
    text-decoration: underline;
}

/* Estilo para el botón de crear cuenta */
.button {
    width: 426px;
    height: 44px;
    font-size: 20px;
    font-weight: 300;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #7ED957;
    color: white;
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    cursor: pointer;
    display: flex;
}

/* Estilo para el contenedor de salir */
#Salirse {
    display: flex;
    justify-content: flex-end;
}

/* Estilo para el botón de atrás */
#BotonAtras {
    width: 165px;
    height: 44px;
}

/* Estilo para el enlace de "Ya tengo cuenta" */
.ya_tengo_cuenta {
    text-align: left;
    margin-top: -10px;
    color: #479555;
    text-decoration: none;
    cursor: pointer;
}

.ya_tengo_cuenta:hover {
    text-decoration: underline;
}

/* Estilo para el segundo botón */
.button2 {
    width: 165px;
    height: 44px;
    font-family: 'Kanit Light', serif;
    font-size: 20px;
    font-weight: 300;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #7ED957;
    color: white;
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    cursor: pointer;
    float: right;
}

/* Estilos responsivos para pantallas con ancho máximo de 800px */
@media (max-width: 800px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    h4 {
        font-size: 12px;
    }
    .input-field {
        font-size: 14px;
        width: 320px;
        margin: 20px 0;  /* Espacio entre los campos de entrada */
    }
    #mensaje-error {
        font-size: 12px;
    }
    .button {
        width: 320px;
        height: 30px;
        font-size: 14px;
        padding: 8px;
    }
    .button2 {
        width: 90px;
        height: 30px;
        font-size: 14px;
        padding: 8px;
    }
}
