/* Importa la fuente 'Kanit' de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

/* Estilos generales para todos los elementos */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-color: #FFFFFF;
}

/* Contenedor principal de la sección de registro */
.register-container {
    text-align: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el encabezado principal */
h1 {
    font-size: 48px;
    font-weight: 500;
    color: #545454;
    text-align: center;
}

h1 span {
    color: #76BD57; /* Color especial para el span dentro del h1 */
}

/* Estilo para el encabezado secundario */
h2 {
    margin-top: 20px;
}

h4 {
    font-size: 18px;
    color: #479555;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0; /* Aumenta este valor para más espacio entre los campos */
}

.input-field {
    display: block;
    width: 426px;
    margin: 15px 0;  /* Aumenta este valor para más espacio entre los campos    */
}

/* Quita el contorno al enfocar el campo de entrada */
.input-field:focus {
    outline: none;
}

/* Estilo para los textos de marcador de posición */
::placeholder {
    color: #c6c6c6; /* Color del marcador de posición */
}

/* Estilo para el mensaje de error */
#mensaje-error {
    font-size: 15px;
    font-weight: 400;
    color: #EA3B50;
}

.button {
    width: 426px;
    height: 44px;
    margin-top: 22px;
    margin-bottom: 22px;
}

/* Estilo para el contenedor de salir */
#Salirse {
    display: flex;
    justify-content: flex-end;
}

/* Estilo para el botón de atrás */
#BotonAtras {
    width: 165px;
    height: 44px;
}

/* Estilo para el enlace de "Ya tengo cuenta" */
.ya_tengo_cuenta {
    margin-top: -10px;
    cursor: pointer;
}

.ya_tengo_cuenta:hover {
    text-decoration: underline;
}

/* Estilo para el segundo botón */
.button2 {
    width: 165px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #7ED957;
    color: white;
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
    line-height: 24px; /* Altura de línea para centrar verticalmente el texto */
    float: right;
}


/*-- cuando el tamaño sea menor a 800px cambia a vista de móvil --*/
@media (max-width: 800px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 18px;
        margin-top: 20px;
    }
    h4 {
        font-size: 12px;
    }
    .input-field {
        font-size: 14px;
        width: 320px;
        margin: 20px 0;  /* Espacio entre los campos de entrada */
    }
    .input-container {
        width: 320px; /* Ajusta el ancho del contenedor para la vista móvil */
    }

    #mensaje-error {
        font-size: 12px;
    }
    .button {
        width: 320px;
        height: 30px;
        font-size: 14px;
        padding: 8px;
    }
    .button2 {
        width: 90px;
        height: 30px;
        font-size: 14px;
        padding: 8px;
        line-height: 12px; /* Altura de línea para centrar verticalmente el texto */
    }
}
