/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply the style guide colors */
:root {
    --green-light: #7ed957;
    --green-dark: #479555;
    --grey-light: #c6c6c6;
    --grey-dark: #333333;
    --black: #000000;
}

/* General styles */
body {
    background-color: #ffffff;
    color: var(--black);
    line-height: 1.6;
}

/* About Us section styles */
#about-us {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Titles positioning */
.container{
    justify-content: center;
    align-items: center;
}
.PrimerTexto{
    padding: 2rem;
    text-align: center;

}
.ContainerOrigen{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;

}
.ContainerOrigen img{
    width: 40rem;
    height: 23rem;
    order: 1;
    border-radius: 3rem;
}
.textOrigen{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    order: 2;

}

.ContainerMision{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
}

.ContainerMision img{
    width: 40rem;
    height: 23rem;
    order: 2;
    border-radius: 1rem;
}

.textMision{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    order: 1;
}

.ContainerVision{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;

}

.ContainerVision img{
    width: 40rem;
    height: 23rem;
    order: 1;
    border-radius: 1rem;
}

.textVision{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    width: 739.2px;
    height: 288px;
    order: 2;
}

.ContainerCeo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
}

.ContainerCeo img{
    width: 40rem;
    height: 23rem;
    order: 2;
    border-radius: 2rem;
}

.textCeo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    width: 739.2px;
    height: 288px;
    order: 1;
}

.ContainerFinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    gap: 50px;
}

.textfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.TextUltimo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

h2{
    text-align: center;
    margin-top: 20px;
    color: #479555;
}
/* Responsive Styles */
@media screen and (max-width: 1100px) {
    .PrimerTexto {
        margin: 10px;
    }

    .ContainerOrigen,
    .ContainerMision,
    .ContainerVision,
    .ContainerCeo {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .ContainerOrigen img,
    .ContainerMision img,
    .ContainerVision img,
    .ContainerCeo img {
        order: 1;
        margin-top: 1rem;
    }

    .textOrigen,
    .textMision,
    .textVision,
    .textCeo {
        order: 2;
    }
}

@media screen and (max-width: 720px) {
    .ContainerOrigen img,
    .ContainerCeo img,
    .ContainerMision img,
    .ContainerVision img {
        width: 100%;
        height: auto;
    }

    .ContainerOrigen,
    .ContainerMision,
    .ContainerVision,
    .ContainerCeo {
        padding: 10px;
    }

    .textOrigen,
    .textMision,
    .textVision,
    .textCeo {
        margin: 5px;
    }
    .textfinal{
        margin-top: 1px;

    }
}